.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vh;
    margin: 20px auto;
    padding: 0;
}

.header h1{
    font-size: 3em;
    color: black;
    text-align: center;
    margin-bottom: -20px;
}

.header h6{
    font-size: 1em;
    color: black;
    text-align: center;
}

.garis{
    color: palevioletred;
    text-align: center;
    border-bottom: 2px solid black;
    width: 100%;
    border-style: dotted;
}